# Copyright (c) Members of the EGEE Collaboration. 2004. 
# See https://www.eu-egee.org/partners/ for details on the copyright
# holders.  
#
# Licensed under the Apache License, Version 2.0 (the "License"); 
# you may not use this file except in compliance with the License. 
# You may obtain a copy of the License at 
#
#     https://www.apache.org/licenses/LICENSE-2.0 
#
# Unless required by applicable law or agreed to in writing, software 
# distributed under the License is distributed on an "AS IS" BASIS, 
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
# See the License for the specific language governing permissions and 
# limitations under the License.
#
#
# vNode Authors:
#    Ricardo Mendes <Ricardo.Mendes AT cern DOT ch>
#
#
# vGrid Authors:
#    Omer Khalid <Omer.Khalid AT cern DOT ch>
#    Thomas Koeckerbauer

[General]
serverHostname: Server
imageDirectory: /images/
volumeGroupName: vg1
protocol: https://

[VMImageFiles]
SLC-4-32: SLC-4-x86.tar.gz 
SLC-4-64: SLC-4-x86_64.tar.gz
SL-4-32: SL-4-x86.tar.gz
SL-4-64: SL-4-x86_64.tar.gz
DEBIAN-4-32: debian-4-x86.tar.gz
DEBIAN-4-64: debian-4-x86_64.tar.gz
SLC-3-32: SLC-3-x86.tar.gz
SL-3-32: SL-3-x86.tar.gz
SL-5-32: SL-5-x86.tar.gz
SL-5-64: SL-5-x86_64.tar.gz
 
[VMSwapSize]
default: 512

[VMTypes]
default: xen

[XenDeployerFSCreateCmd]
SL-3-32: mkfs.ext3 -O none,has_journal,filetype,sparse_super
default: mkfs.ext3
